.main-page {
  height: 100vh;
  background-color: #f2f4f7;
  overflow-y: scroll;
}
.facebook-content {
  height: 50vh;
  width: 30vw;
}
.login-form {
  height: 50vh;
  width: 27vw;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
h1 {
  color: #0866ff;
  font-weight: 700;
  font-size: 3em;
}
.text-1 {
  font-size: 1.3em;
  font-weight: 400;
}
a {
  text-decoration: none;
}
.btn {
  font-weight: 600;
}
header {
  height: 80px;
}
.mainbox {
  /* height: calc(100vh - 80px); */
  margin: 5px auto;
  width: 31vw;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.header-text {
  font-size: 1.3em;
}
input[type="text"]:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid black;
}
input[class="form-select"]:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid black;
}
.form-box {
  height: 60vh;
  width: 40vw;
  margin: 20px auto;
}
.nav-item {
  text-align: center;
}
